<template>
  <div>
    <v-dialog v-model="dialog" hide-overlay transition="scale-transition">
      <template v-slot:activator="{ on }">
        <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
      </template>

      <NoteComposer :note="note" @on-close="onClose"></NoteComposer>
    </v-dialog>
  </div>
</template>

<script>
import NoteComposer from "~/components/NoteComposer.vue";

export default {
  components: { NoteComposer },
  data() {
    return {
      dialog: false,
    };
  },
  computed: {
    note() {
      return this.$store.state.notes.notes.find(
        (note) => note.id === this.$route.params.id
      );
    },
  },
  mounted() {
    console.log("mounted");
    this.$store.dispatch("notes/load");
    console.log(this.$store.state.notes.notes);
    console.log(this.$route.params.id);
    console.log(this.note);
  },
  methods: {
    onClose(e) {
      this.dialog = false;
    },
  },
};
</script>

<style></style>
