<template>
  <v-card :elevation="4" v-bind="$attrs" class="pa-3" v-on="listeners">
    Take a note...
  </v-card>
</template>

<script>
export default {
  computed: {
    listeners() {
      return {
        ...this.$listeners,
      };
    },
  },
};
</script>

<style lang="css" scoped></style>
