<template>
  <v-card :elevation="4" v-bind="$attrs" class="" v-on="listeners">
    <v-card-title>
      <v-text-field
        ref="title"
        v-model="title"
        :height="44"
        placeholder="Title"
        dense
        solo
        flat
        @keydown.enter="quickSubmitHandler"
      ></v-text-field>
    </v-card-title>

    <v-card-text>
      <v-textarea
        ref="text"
        v-model="text"
        :rows="1"
        placeholder="Take a note..."
        dense
        solo
        flat
        auto-grow
        autofocus
        @keydown.enter="quickSubmitHandler"
      ></v-textarea>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn v-if="isDirty" color="blue darken-3" text @click="onSaveComposer">
        Save
      </v-btn>
      <v-btn text @click="onCloseComposer">Close</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
function ctrlOrCmdModifier(fn) {
  return function(e) {
    const isMac = navigator.userAgent.indexOf("Mac") > 0;
    if ((isMac && e.metaKey) || (!isMac && e.ctrlKey)) {
      fn.call(this, arguments);
    }
  };
}

export default {
  props: {
    note: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      id: this.note.id || null,
      title: this.note.title || "",
      text: this.note.text || "",
    };
  },
  computed: {
    isDirty() {
      return !!this.title || !!this.text;
    },
    listeners() {
      return {
        ...this.$listeners,
      };
    },
  },
  methods: {
    onSaveComposer() {
      const { id, title, text } = this;
      console.log("onSaveComposer", id, title, text);

      if (id) {
        this.updateNote({ id, title, text });
      } else {
        this.createNote({ title, text });
      }
      this.setShowPostComposer(false);
      this.$store.dispatch("notes/save");
    },
    onCloseComposer() {
      console.log("onCloseComposer");

      this.$emit("on-close");
      this.setShowPostComposer(false);
    },
    createNote({ title, text }) {
      this.$store.commit("notes/create", {
        title,
        text,
      });
    },
    addNote({ title, text }) {
      this.$store.commit("notes/add", {
        title,
        text,
      });
    },
    updateNote({ id, title, text }) {
      this.$store.commit("notes/update", {
        id,
        title,
        text,
      });
    },
    setShowPostComposer(v) {
      this.$store.commit("setShowPostComposer", v);
    },
    quickSubmitHandler: ctrlOrCmdModifier(function() {
      if (this.title.length > 0 || this.text.length > 0) {
        this.onSaveComposer();
      }
    }),
  },
};
</script>

<style lang="css" scoped>
::v-deep .v-text-field__slot {
  max-height: 60vh;
  overflow: scroll;
}
</style>
