<template>
  <v-card :min-width="238" class="" outlined>
    <v-card-actions>
      {{ note.id }}
      <v-spacer></v-spacer>
      <v-icon @click.stop="togglePin">{{ pinPath }}</v-icon>
    </v-card-actions>

    <v-card-title class="pt-0">
      {{ note.title }}
    </v-card-title>

    <v-card-text>
      {{ note.text }}
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-icon @click.stop="onClose">mdi-close-circle-outline</v-icon>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    note: {
      type: Object,
      default: () => {
        return {};
      },
      required: true,
    },
  },
  computed: {
    pinPath() {
      return this.note.pinned ? "mdi-pin" : "mdi-pin-outline";
    },
  },
  methods: {
    onClose() {
      this.$store.commit("notes/remove", this.note.id);
      this.$store.dispatch("notes/save");
    },
    togglePin() {
      this.$store.commit("notes/update", {
        ...this.note,
        pinned: !this.note.pinned,
      });
    },
  },
};
</script>

<style lang="css" scoped></style>
