<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :width="280"
      clipped
      floating
      disable-resize-watcher
      disable-route-watcher
      app
    >
    </v-navigation-drawer>

    <v-app-bar color="#41B883" clipped-left fixed elevate-on-scroll app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <nuxt-link
        to="/"
        tag="div"
        class="font-weight-light pa-4"
        style="cursor: pointer;"
        prefetch
      >
        Vue Keep
      </nuxt-link>

      <v-spacer />

      <v-text-field
        v-model="searchQuery"
        solo-inverted
        flat
        hide-details
        color="#34495E"
        label="Search"
      />

      <v-spacer />
      <v-spacer />
      <v-spacer />
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-content>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <nuxt />
      </v-container>
    </v-content>

    <!-- <v-footer app> -->
    <!-- -->
    <!-- </v-footer> -->
  </v-app>
</template>

<script>
import { debounce } from "debounce";

export default {
  data: () => ({
    drawer: false,
  }),
  computed: {
    searchQuery: {
      get() {
        return this.$store.state.search.searchQuery;
      },
      set: debounce(function(value) {
        if (value.length === 0 || value.length > 2) {
          this.$store.commit("search/setSearchQuery", value);
        }
      }, 500),
    },
  },
};
</script>
