<template>
  <div class="">
    <v-row :justify="'center'" class="" no-gutters>
      <v-col :sm="9" :md="5" class="mt-6 mb-3">
        <NoteComposer v-if="showPostComposer"></NoteComposer>
        <NoteComposerInput
          v-else
          @click="setShowPostComposer(true)"
        ></NoteComposerInput>
      </v-col>
    </v-row>

    <div class="mx-md-12 px-md-12">
      <template v-if="searchQuery.length">
        <v-row :justify="'start'" class="">
          <v-col
            v-for="note in notes"
            :key="note.id"
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
          >
            <Note :note="note" @click.native="onSelectHandler(note)"></Note>
          </v-col>
        </v-row>
      </template>
      <template v-else-if="pinnedNotes.length">
        <span>pinned</span>
        <v-row :justify="'start'" class="">
          <v-col
            v-for="note in pinnedNotes"
            :key="note.id"
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
          >
            <Note :note="note" @click.native="onSelectHandler(note)"></Note>
          </v-col>
        </v-row>

        <span>unpinned</span>
        <v-row :justify="'start'" class="">
          <v-col
            v-for="note in unpinnedNotes"
            :key="note.id"
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
          >
            <Note :note="note" @click.native="onSelectHandler(note)"></Note>
          </v-col>
        </v-row>
      </template>

      <template v-else>
        <v-row :justify="'start'" class="">
          <v-col
            v-for="note in unpinnedNotes"
            :key="note.id"
            :cols="12"
            :sm="6"
            :md="4"
            :lg="3"
          >
            <Note :note="note" @click.native="onSelectHandler(note)"></Note>
          </v-col>
        </v-row>
      </template>
    </div>

    <v-dialog
      v-model="dialog"
      hide-overlay
      transition="scale-transition"
      width="85vh"
      @click:outside="onModalClose"
    >
      <NoteComposer
        :note="selectedNote"
        @on-close="onModalClose"
      ></NoteComposer>
    </v-dialog>
  </div>
</template>

<script>
import Note from "~/components/Note.vue";
import NoteComposerInput from "~/components/NoteComposerInput.vue";
import NoteComposer from "~/components/NoteComposer.vue";

export default {
  components: {
    Note,
    NoteComposerInput,
    NoteComposer,
  },
  data() {
    return { selectedNote: null, dialog: false };
  },
  computed: {
    searchQuery() {
      return this.$store.state.search.searchQuery;
    },
    notes() {
      // return this.$store.getters["notes/orderedNotes"];
      return this.$store.getters["search/searchFilter"];
    },
    pinnedNotes() {
      return this.$store.getters["notes/orderedPinnedNotes"];
    },
    unpinnedNotes() {
      return this.$store.getters["notes/orderedUnpinnedNotes"];
    },
    showPostComposer() {
      return this.$store.state.showPostComposer;
    },
  },
  mounted() {
    this.$store.dispatch("notes/load");
    const note = this.$store.state.notes.notes.find(
      (n) => n.id === this.$route.hash.replace("#n/", "")
    );
    if (note) {
      this.onSelectHandler(note);
    }
  },
  methods: {
    setShowPostComposer(v) {
      this.$store.commit("setShowPostComposer", v);
    },
    onSelectHandler(note) {
      this.dialog = true;
      this.selectedNote = note;
      window.history.pushState({}, null, `/#n/${note.id}`);
    },
    onModalClose(e) {
      this.dialog = false;
      window.history.pushState({}, null, "/");
    },
  },
};
</script>
